/* Global footer */

#footer {
  border-top: 1px solid $yjlc-light-blue;
  background-color: $yjlc-light-grey;

  .footer-wrapper {
    @extend %site-width-container;
    @extend %contain-floats;

    padding-top: 20px;
    padding-bottom: 40px;

    @include media(tablet) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  .footer-links {
    list-style: none;
    padding: 0 0 $gutter 0;
    @extend %contain-floats;

    li {
      float: left;
      margin-right: 20px;

      @include core-19;

      a {
        color: $white;
      }
    }
  }

  .acknowledgement {
    font-weight: bold;
    color: $white;

    a {
      color: $white;
    }
  }
}
