.article {
  header {
    padding: 60px 0 30px;

    h1 {
      @include heading-large;
      margin-top: 0;

      @include media(tablet) {
        margin-top: 0;
      }
    }

    .date {
      @include heading-medium;
      font-weight: normal;
      color: $secondary-text-colour;

      margin: 0;

      @include media(tablet) {
        margin: 0;
      }
    }
  }

  .intro {
    @include core-24();
    margin-bottom: ($gutter * 2);
  }

  .navigation {
    list-style: none;

    li {
      padding-bottom: $gutter-half;
    }
  }

  .glossaryLink {
    border-bottom: 1px dotted $yjlc-grey;
  }

  ol.footnote {
    @include core-16();
    color: $yjlc-grey;
    padding-left: 0;
    list-style: none;

    li {
      padding-bottom: 10px;
    }
  }
}

sup {
  line-height: 1;
  display: inline-block;
  bottom: 1ex;

  font-size: 75%;
  height: 0;
  position: relative;
  vertical-align: baseline;
}

.post-meta {
  margin: $gutter 0;
}

.sidebar {
  padding-top: 60px;

  h3 {
    @include heading-medium();
    margin-top: 0;

    color: $yjlc-blue;
  }

  .sidebar-links {
    list-style: none;

    li {
      border-bottom: 1px solid $yjlc-light-grey;
      padding: $gutter-one-third 0;
    }
  }
}

