.strap-line {
}

.large-search {
  input {
    font-size: 24px;
    padding: 6px;
  }

  .button {
    font-size: 24px;
  }
}

.a-z-list {
  list-style: none;
  @extend %contain-floats;

  li {
    float: left;
    padding: 0 ($gutter/3) 0 0;
  }
}

.homepage-topic {
  background-color: $yjlc-light-blue;
  padding: 20px;
  margin-bottom: 20px;

  color: $white;

  h3 {
    a {
      color: $white;
    }
  }
}