// Headings

h1 {
  @include heading-large();
  color: $yjlc-blue;
}

h2 {
  @include heading-medium();
  color: $yjlc-blue;
}

h3 {
  @include heading-small();
}

ol {
  list-style-type: decimal;
  padding-left: 30px;
}